<h1>Editing question</h1>

<%= if @question.user_id ==  current_user.id then render 'form'; else  'Permission denied'  end %>
<%= link_to 'Show', @question %> |'
<%= link_to 'Back', questions_path %>
